# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/sites.php
sites/*
!sites/all/
!sites/default/
!sites/example.sites.php
!sites/README.txt
drushrc.php
sites/*/drushrc.php
cache
